#root,
body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: url(./assets/Background.svg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  body {
    background: #3498db;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
  }
}
